BODY {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #9c0030;
    padding-top: 0px;
    margin: 0px;
}
.Title {
   font-size: 10px;
   color: #9c0030;
   font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
}
.PageTitle{
   font-size: 10px;
   color: #9c0030;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   background-color: #ffffff;
   text-align: left;
   vertical-align: top;
   font-weight: bold;
	padding-left: 5px;
}
.printonly {display:none;} 
/* For Text Area */
.TextLong {
   font-weight: normal;
   color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #b9b5ab;
    padding-left: 3px;
   width: 300px;
}
/*for main menu link*/
.FunctionMenu {
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #9c0030;
    color: #ffffff;
    text-align: left;
    padding-left: 10px;
	 padding-right: 10px;
    border: 1px solid; 	
	 border-bottom-color: #9c0030;
	 border-left-color: #ffffff;
	 border-top-color: #9c0030;
	 border-right-color: #ffffff;
}
A.FunctionMenuLink {
    color: #ffffff;
    font-weight: bold;
	text-align: left;
    text-decoration: none;
    font-size : 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #9c0030;
}
A.FunctionMenuLink:link {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size : 10px;
	text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #9c0030;
}
A.FunctionMenuLink:visited{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size : 10px;
	text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
A.FunctionMenuLink:hover {
    color: #ccd7e3;
    font-weight: bold;
    text-decoration: underline;
    font-size : 10px;
	text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
/* for text */
.TextRight {
   font-size: 10px;
   color: #9c0030;
   font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: right;
}
/* for text on search boxes, no background colour*/
.TextRightSearch {
    text-align: right;
}
.TextCenter {
   font-size: 10px;
   color: #9c0030;
   font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: center;
}
.TextLeft {
   font-size: 10px;
   color: #9c0030;
   font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: left;
}
.TextPaddingLeft {
   font-size: 10px;
   color: #9c0030;
   font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: left;
    padding-left: 10px;
}
.TextPaddingCenter {
   font-size: 10px;
   color: #9c0030;
   font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.TextPaddingRight {
   font-size: 10px;
   color: #9c0030;
   font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: right;
    padding-right: 10px;
}
.TextBoxLabelLeft {
   font-size: 10px;
   color: #9c0030;
   font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: left;
    padding-left: 20px;
}
.TextBoxLabelTopLeft {
   font-size: 10px;
   color: #9c0030;
   font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: left;
    vertical-align: top;
    padding-left: 20px;
    padding-top: 5px;
}
.TextBoxLabelTopRight {
   font-size: 10px;
   color: #9c0030;
   font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: right;
    vertical-align: top;
    padding-right: 20px;
    padding-top: 5px;
}
.TextBoxLabelRight {
   font-size: 10px;
   color: #9c0030;
   font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: right;
    padding-right: 5px;
}
/* for sub menu link*/
.MainMenu {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: #ba4c6e;
    color: #ffffff;
    text-align: left;
	 padding-top: 1px;
	 padding-bottom: 1px;
    border: 1px solid; 	
    border-color: #ba4c6e #ba4c6e #ba4c6e #ba4c6e;	 	
}
A.MainMenuLink {
    color: #ffffff;
    background-color: #ba4c6e;	
    font-weight: nomal;
    text-decoration: none;
    font-size : 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
	 vertical-align: top;
	 margin: 1px;
 	 padding-left: 10px;
	 padding-right: 10px;	
	
	 height: 10px;
}
A.MainMenuLink:link {
    color: #ffffff;
    background-color: #ba4c6e;	
    font-weight: nomal;
    text-decoration: none;
    font-size : 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  	 height: 10px;
	 vertical-align: top;
}
A.MainMenuLink:visited{
    color: #ffffff;
    background-color: #ba4c6e;	 	
    font-weight: nomal;
    text-decoration: none;
    font-size : 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
 	 vertical-align: top;
	 height: 10px;
}
A.MainMenuLink:hover {
    color: #ccd7e3;
    font-weight: nomal;
    text-decoration: underline;
    font-size : 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
 	 vertical-align: top;
	 height: 10px;
}
/**********************************/
.TextRequiredNormal {
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #b9b5ab;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 150px;
}
.TextRequiredNormalDisabled  {
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #b9b5ab;
    padding-left: 3px;
    background-color: #c0c0c0;
    width: 150px;
}
.TextRequiredMedium {
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #b9b5ab;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 200px;
}
.TextRequiredGTMedium {
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: right;
    border: 0px solid #b9b5ab;
    padding-right: 4px;
    width: 265px;
}
.TextRequiredGTLong {
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 0px solid #b9b5ab;
    padding-left: 3px;
    width: 300px;
}
.TextRequiredMediumDisabled {
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #b9b5ab;
    padding-left: 3px;
    background-color: #c0c0c0;
    width: 200px;
}
.TextRequiredAverage {
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #b9b5ab;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 100px;
}
.TextRequiredAverageDisabled {
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #b9b5ab;
    padding-left: 3px;
    background-color: #c0c0c0;
    width: 100px;
}
.TextRequiredShort {
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #b9b5ab;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 80px;
}
.TextRequiredShortDisabled {
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #b9b5ab;
    padding-left: 3px;
    background-color: #c0c0c0;
    width: 80px;
}
.TextRequiredLong {
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #b9b5ab;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 300px;
}

.TextRequiredLongDisabled {
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #b9b5ab;
    padding-left: 3px;
    background-color: #c0c0c0;
    width: 300px;
}
.TextRequiredDate {
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #b9b5ab;
    padding-left: 3px;
    background-color: #f9f0f3;
    WIDTH: 75px;
}
.TextRequiredDateDisabled {
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #b9b5ab;
    padding-left: 3px;
    background-color: #c0c0c0;
    WIDTH: 75px;
}
.TextRequiredTime {
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #b9b5ab;
    padding-left: 3px;
    background-color: #f9f0f3;
    WIDTH: 40px;
}
.TextRequiredTimeAllignedRight {
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;    
    text-align: right;
    padding-right: 4px;    
    border: 1px solid #b9b5ab;
    background-color: #f9f0f3;
    WIDTH: 40px;
}
.TextRequiredTimeDisabled {
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #b9b5ab;
    padding-left: 3px;
    background-color: #c0c0c0;
    WIDTH: 40px;
}
.TextAreaDisabled {
	font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    border: 1px solid #b9b5ab;
    padding-left: 3px;
    background-color: #c0c0c0;
}
.TextDisabled {
    font-weight: normal;
    color: #c0c0c0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: italic;
    padding-left: 10px;
}
.Bordertable {
    background-color: #b9b5ab;
    border-collapse:separate;
}
.Headertable {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #9c0030;
    text-align: left;
    padding-left: 5px;
    font-weight: bold;
    background-color: #ebccd6;
}
.HeadertableCenter {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #9c0030;
    text-align: center;
    font-weight: bold;
    background-color: #ebccd6;
}
.HeadertableRight {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #9c0030;
    text-align: right;
    font-weight: bold;
    background-color: #ebccd6;
}
TABLE {
    border-collapse: collapse;
}
DIV {
	MARGIN-TOP: 0px; SCROLLBAR-FACE-COLOR: #9c0030; MARGIN-BOTTOM: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #d6d3ce; SCROLLBAR-SHADOW-COLOR: #d6d3ce; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #d6d3ce; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; SCROLLBAR-BASE-COLOR: #d6d3ce
}
.DivScrollBar{
	width: 100%;
	height: 100%;
	min-width: 16px;
	size: auto;
	cursor: default;
	background-color: white;
	overflow: auto;
	vertical-align: top;
}
.AlignTop {
	vertical-align: top;
}
.InactiveMenu {
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #f9f0f3;
    color: #ffffff;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;	
    border: 1px solid; 	
    border-color: #ffffff #030303 #ffffff #ffffff ;	
}
.InactiveMenuLink {
    color: #ba4c6e;
    font-weight: bold;
    text-decoration: none;
    font-size : 10px;
	text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #f9f0f3;
}

.DisableMenuLink {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    font-size : 10px;
	text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #f9f0f3;
}

A.DisableMenuLink:hover {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    font-size : 10px;
	text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #f9f0f3;
	cursor: default;
}
.InactiveMenuBorder {
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;	
    border: 1px solid; 	
    border-color: #ffffff #ffffff #ffffff #ffffff ;	
}
/* Top Menu List related */
#csstopmenu, #csstopmenu ul{
padding: 0;
margin: 0;
list-style: none;
}
#csstopmenu, #csstopmenu ul{
padding: 0;
margin: 0;
list-style: none;
}
#csstopmenu li{
float: left;
position: relative;
}
#csstopmenu a{
text-decoration: none;
}
#csstopmenu li:hover ul, li.over ul {
display: block;
}
.submenus{
display: none;
width: 10em;
position: absolute;
top: 1.7em;
left: 0;
background-color: #f9f0f3;
border: 1px solid black;
}
.submenus li{
width: 100%;
}
.submenus li a{
    display: block;
    width: 100%;
    text-indent: 3px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color:  #9c0030;
    text-align: left;
    padding-left: 10px;
}
.submenus li a:hover{
background-color: yellow;
color: black;
}

A.disablemenu:hover {
	cursor: default;
}
.submenus-wider{
display: none;
width: 23em;
position: absolute;
top: 1.7em;
left: 0;
background-color: #f9f0f3;
border: 1px solid black;
}
.submenus-wider li{
width: 100%;
}
.submenus-wider li a{
    display: block;
    width: 100%;
    text-indent: 3px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #9c0030;
    text-align: left;
    padding-left: 10px;
}
.submenus-wider li a:hover{
background-color: yellow;
color: black;
}
.submenus-wide{
display: none;
width: 20em;
position: absolute;
top: 1.7em;
left: 0;
background-color: #f9f0f3;
border: 1px solid black;
}
.submenus-wide li{
width: 100%;
}
.submenus-wide li a{
    display: block;
    width: 100%;
    text-indent: 3px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #9c0030;
    text-align: left;
    padding-left: 10px;
}
.submenus-wide li a:hover{
background-color: yellow;
color: black;
}

.submenus-long{
display: none;
width: 27em;
position: absolute;
top: 1.7em;
left: 0;
background-color: #f9f0f3;
border: 1px solid black;
}
.submenus-long li{
width: 100%;
}
.submenus-long li a{
    display: block;
    width: 100%;
    text-indent: 3px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #9c0030;
    text-align: left;
    padding-left: 10px;
}
.submenus-long li a:hover{
background-color: yellow;
color: black;
}

.smallButton {
    color: #9c0030;
	    border: 1px outset;
    background-color: #ebccd6;
    padding-left: 0px;
    padding-right:0px;
    padding-top:0px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    border-color: #ffffff #ffffff #ffffff #ffffff;
}
.enabledButton {
    color: #9c0030;
    border: 1px outset;
    background-color: #ebccd6;
    padding-left: 5px;
    padding-right:5px;
    padding-top:1px;
    height: 20px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    border-color: #ffffff #ffffff #ffffff #ffffff;
    width: 70px;
}
/* Added by SSS */
.enabledButtonAverage {
    color: #9c0030;
    border: 1px outset;
    background-color: #ebccd6;
    padding-left: 5px;
    padding-right:5px;
    padding-top:1px;
    height: 20px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    border-color: #ffffff #ffffff #ffffff #ffffff;
    width: 120px;
}
.enabledButtonMedium {
    color: #9c0030;
    border: 1px outset;
    background-color: #ebccd6;
    padding-left: 5px;
    padding-right:5px;
    padding-top:1px;
    height: 20px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    border-color: #ffffff #ffffff #ffffff #ffffff;
    width: 100px;
}
.enabledButtonLong {
    color: #9c0030;
    border: 1px outset;
    background-color: #ebccd6;
    padding-left: 5px;
    padding-right:5px;
    padding-top:1px;
    height: 20px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    border-color: #ffffff #ffffff #ffffff #ffffff;
    width: 150px;
}
.disabledButtonTailored {
    color: #9c0030;
    border: 1px outset;
    background-color: #f9f0f3;
    padding-left: 5px;
    padding-right:5px;
    padding-top:1px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    border-color: #ffffff #ffffff #ffffff #ffffff;
}
.disabledButton {
    color: #9c0030;
    border: 1px outset;
    background-color: #f9f0f3;
    padding-left: 5px;
    padding-right:5px;
    padding-top:1px;
    height: 20px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    border-color: #ffffff #ffffff #ffffff #ffffff;
    width: 70px;
}
.disabledButtonMedium {
    color: #9c0030;
    border: 1px outset;
    background-color: #f9f0f3;
    padding-left: 5px;
    padding-right:5px;
    padding-top:1px;
    height: 20px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    border-color: #ffffff #ffffff #ffffff #ffffff;
    width: 100px;
}
.disabledButtonAverage {
    color: #9c0030;
    border: 1px outset;
    background-color: #f9f0f3;
    padding-left: 5px;
    padding-right:5px;
    padding-top:1px;
    height: 20px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    border-color: #ffffff #ffffff #ffffff #ffffff;
    width: 120px;
}
.disabledButtonLong {
    color: #9c0030;
    border: 1px outset;
    background-color: #f9f0f3;
    padding-left: 5px;
    padding-right:5px;
    padding-top:1px;
    height: 20px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    border-color: #ffffff #ffffff #ffffff #ffffff;
    width: 150px;
	button-disabled: true;
	
}
A {
	text-decoration:none;
	color:#000000
}
A:hover {
	background-color:#000099;
	color:#FFFFFF
}
.AreaDivider {
    background-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    border: 1x solid; 	
	 border-bottom-color: #b9b5ab;
	 border-left-color: #b9b5ab;
	 border-top-color: #b9b5ab;
	 border-right-color: #b9b5ab;
}
/* Added by SSS */
Select {
   font-size: 10px;
   color: #9c0030;
   font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: left;
    padding-left: 10px;
}
.content {
    background: #ffffff;
    border: 1px solid #000000;
    border-top: 0;
    clear: both;
    margin: 0px;
    padding: 2px;
	margin-left: 1px;
	margin-right: 2px;
	overflow:auto;
}
.contentnoborder {
    background: #ffffff;
    border: 0px solid #000000;
    border-top: 0;
    clear: both;
    margin: 0px;
    padding: 2px;
	margin-left: 1px;
	margin-right: 2px;
	overflow:auto;
}
.content-box {
    background: #ffffff;
    border: 1px solid #000000;
    clear: both;
    margin: 0px;
    padding: 2px;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 0px;
	overflow:auto;
}
.content-box-light {
    background: #ffffff;
    border: 1px solid #9c0030;
    clear: both;
    margin: 0px;
    padding: 2px;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 0px;
	overflow:auto;
}
.content-box-light1 {
    background: #ffffff;
    border: 1px solid #828282;
    clear: both;
    margin: 0px;
    padding: 2px;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 0px;
	overflow:auto;
}
.SlotRow{
	font-size: 10px;
	color: #9c0030;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
}
.SlotRowGrayBG{
	background: #e0e0e0;
	font-size: 10px;
	color: #9c0030;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
}
.LeftSlot{
	padding-left: 1px;
	padding-right: 0px;
	border: 1x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	width: 50px;
	height: 50px;
}
.LeftSlotHeadVariable{
	padding-left: 1px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 0px;
	border: 1x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
}
.LeftSlotHeadFixed{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 1px;
	padding-right: 0px;
	border: 1x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	width: 50px;
}
.CellText{
	padding-left: 1px;
	padding-right: 0px;
	border: 1x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	height: 20px;
}
.ReportSlot{
	padding-left: 1px;
	padding-right: 0px;
	border: 1x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	height: 50px;
}
/*For check box*/
.checkB {
   height: 10px; width: 10px;
}
TEXTAREA {
	FONT-SIZE: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #9c0030;
}
.NoBorderTextBox{
	border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	width: 45px;
	font-size: 9px;
	color: #9c0030;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
}
A.NormalLink {
    color: red;
    font-weight: bold;
	text-align: left;
    text-decoration: none;
    font-size : 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
A.NormalLink:link {
    font-weight: normal;
    color: #0033FF;
    text-decoration: none
}
A.NormalLink:visited{
    font-weight: normal;
    color: #990000;
    text-decoration: none
}
A.NormalLink:hover {
    font-weight: bold;
    color: #FF0000;
    text-decoration: none;
}

.SearchRowShort {
    border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 80px;
}

.SearchRowShortNumeric {
    border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	text-align: right;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 80px;
}
 .SearchRowAverage {
    border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 100px;
}
 .SearchRowCertification {
    border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-left: 3px;
    background-color: #f9f0f3;
}
.SearchRowBusiness {
    border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 250px;
}
.SearchRowMedium {
    border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    //padding-left: 3px;
    background-color: #f9f0f3;
    width: 200px;
}
.SearchRowMediumNoWidth {
    border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    //padding-left: 3px;
    background-color: #f9f0f3;
}
.SearchRowMedium150 {
    border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    //padding-left: 3px;
    background-color: #f9f0f3;
    width: 130px;
}
.SearchRowMediumFix {
    border: 0x solid; 	
	border-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: #ffffff;
    padding-left: 3px;
    width: 200px;
}
 .SearchRowInstructor {
    border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 165px;
}
.SearchRowLong {
    border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 300px;
}
.SearchRowLongFix {
    border: 0x solid; 	
	border-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: #ffffff;
    width: 300px;
    padding-left: 3px;
}
.SearchRowSmall {
    border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 51px;
}
.SearchRowExaminer {
    border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 185px;
}
.TextAllignedRight {
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: right;
    border: 1px solid #b9b5ab;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 40px;
}
 .SearchRowTestCode {
    border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 107px;
}
.SearchRowTestCentre {
    border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 90px;
}
.SearchRowVehType {
    border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 70px;
}
.SearchRowVehTypeFix {
    border: 0x solid; 	
	border-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: #ffffff;
    width: 70px;
    padding-left: 3px;
}
.SearchRowID {
    border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	text-align: right;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 70px;
}
.SearchRowIDFix {
    border: 0x solid; 	
	border-color: #000000;
	text-align: right;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: #ffffff;
    width: 70px;
    padding-left: 3px;
}
.SearchRowMinimum {
    border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 40px;
}
.SearchRowWeekDay {
    border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-left: 3px;
    background-color: #f9f0f3;
    width: 60px;
}
div.suggestions {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #eff1f6;
    position: absolute;
}
div.suggestions2 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    position: absolute;
}
div.suggestions div {
    cursor: default;
    padding: 0px 3px;
}
div.suggestions div.current {
    background-color: #3366cc;
    color: white;
}
/* This can be used as a generic borderless input class, then it is just a case of adding a class with the width of the input field. */
.BorderlessInput {
    border: 0x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	text-align: left;
    font-weight: normal;
    color: #9c0030;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.CandidateNoteHeading {
    width: 185px;
}
.wpMargin {
	width:95px;
	overflow:hidden;
}
.wpContent {
	width:45px;
	overflow:hidden;
}
.wpSlot {
	padding-left: 1px;
	padding-right: 0px;
	border: 1x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	width: 45px;
	height: 50px;
}
.ewpContent {
	width:41px;
	overflow:hidden;
}
.ewpSlot {
	padding-left: 1px;
	padding-right: 0px;
	border: 1x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	width: 41px;
	height: 50px;
}
.ewpHeader {
	padding-left: 1px;
	padding-right: 0px;
	border: 1x solid; 	
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-color: #000000;
	border-right-color: #000000;
	font-size: 10px;
   	color: #9c0030;
   	font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    text-align: center;
    width: 41px;
}