/*--------------------------------------------
print.css  - PRINT ONLY STYLES
These styles are derived from the existing 
Transport Office Portal style sheets but have      
been prefaced with TOP_ to avoid conflicts with              
conventions used by other agencies
IMPORTANT - These styles are intended for the printed 
view only i.e. this style sheet should be linked in using
the attribute media="print". These styles are not
intended to be interpreted in normal browser viewing
Version 3.0 RJHurst rick@olivewoodtech.co.uk 28/01/2008 
- checked and formatted for TOP Style Guide v3.0       
----------------------------------------------*/
#TOP_top{
  /*display:none; COMMENTED BECAUSE NOTHING IS BEING DISPLAYED*/
}
#TOP_logo{
  /*display:none; COMMENTED BECAUSE NOTHING IS BEING DISPLAYED*/
}
#TOP_logobottom{
	/*display:none; COMMENTED BECAUSE NOTHING IS BEING DISPLAYED*/
}
#TOP_menu{
	/*display:none; COMMENTED BECAUSE NOTHING IS BEING DISPLAYED*/
}
#TOP_topSearch{
	/*display:none; COMMENTED BECAUSE NOTHING IS BEING DISPLAYED*/
}
#TOP_topMenu{
	/*display:none; COMMENTED BECAUSE NOTHING IS BEING DISPLAYED*/
}
#TOP_topTabMenu{
	/*display:none; COMMENTED BECAUSE NOTHING IS BEING DISPLAYED*/
}
#TOP_breadcrumb{
	/*display:none; COMMENTED BECAUSE NOTHING IS BEING DISPLAYED*/
}
#TOP_main{
  padding-left:20px;
  margin:20px 20px 20px 20px;
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
}
#TOP_mainNarrow{
	width:100%;
}
#TOP_mainWide{
	width:100%;
}
#TOP_mainFull{
	width:100%;	
}
#TOP_rightWide{
/*	display:none; COMMENTED BECAUSE NOTHING IS BEING DISPLAYED*/
}
#TOP_rightNarrow{
/*	display:none; COMMENTED BECAUSE NOTHING IS BEING DISPLAYED*/
}
#TOP_feedback{
/*	display:none; COMMENTED BECAUSE NOTHING IS BEING DISPLAYED*/
}
#TOP_pageoptions{
/*	display:none; COMMENTED BECAUSE NOTHING IS BEING DISPLAYED*/
}
#TOP_footer {
/*	display:none; COMMENTED BECAUSE NOTHING IS BEING DISPLAYED*/
}
